body{
	background-color: #B2B2B2;
}
.topimg{
	object-fit:cover;
	position: relative;
	width: 100%;
	max-width: 100%;
	height: 100%;
	opacity: 0.85;	
}
.linkedin{
	width: 10%;
	height: 50px;
	margin-bottom:500px;
	left: 660px;
	top: 350px;
	position: absolute;
}
.github{
	width: 10%;
	height: 10%;
	left: 660px;
	top: 250px;
	position: absolute;
}